.flex_div {
    display: flex;
    flex-direction: column;
  }
  
  #top-homepage {
    background-color: black;
  }
  
  #top_turning-logo {
    width: 17%;
    height: 15rem;
    display: block;
    margin: auto;
  }
  #title-turning_logo {
    width: 40%;
    height: 29rem;
    padding-top: 1rem;
    display: block;
    margin: auto;
    padding-bottom: -5rem;
  }
  
  #in_text-homepage-top {
    text-align: center;
  }
  
  #bottom-front-page{
    display: flex;
    justify-content: center;
  }
  
  #bottom-front-page img {
    width: 8rem;
    height: 8rem;
    padding-right: 7rem;

  }
  #nav img {
    width: 4rem;
    height: 4rem;
    padding-right: 5rem;
  }
  #nav{
    justify-content: space-around;
    background-color: black;
    justify-content: center;
  }
  
  #nav1{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    margin: 0 2rem;

  }
  #bottom-wrapper {
    float: left;
  }
  #bottom-text_flex,
  #bottom-hinkle_flex {
    margin-top: 4rem;
  }
  #bottom-text_area,
  #bottom-hinkle_text {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    font-weight: 100;
    font-size: 1.5rem;
  }
  
  #bottom-skyscraper,
  #bottom-hinkle {
    float: left;
    height: 3in;
    width: 5in;
    padding: 8px;
  }
  
  .font1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
  }
  .font2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
  }
