*{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}
#texxt1{
    font-weight: bold;
    padding-left: 10rem;
    padding-bottom: 2rem;
}
#write_img{
    display: block;
    block-size: 15rem;
    padding-left: 10rem;
}
section{
    display: flex;
}
#test{
    display: flex;
}
#write_img2{
    block-size: 40rem;
    height: 23rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
    padding-top: 1rem;
}
#write_img3{
    display: block;
    block-size: 10rem;
    padding-left: 10rem;
}
#text_main{
    padding-left: 3rem;
}
#rev{
    flex-direction: row-reverse;
}
#texxt11{
    font-weight: bold;
    padding-right: 10rem;
    padding-bottom: 2rem;
}
#text_main1{
    padding-right: 3rem;
}
#test1{
    background-color: #d3d3d3;
}
.flex_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #bottom-front-page{
    display: flex;
    justify-content: center;
  }
  
  #bottom-front-page img {
    width: 10rem;
    height: 10rem;
    padding-right: 7rem;

  }
  #title-turning_logo {
    width: 40%;
    height: 25rem;
    padding-top: 1rem;
    display: block;
    margin: auto;
    padding-bottom: -5rem;
  }
  #nav img {
    width: 4rem;
    height: 4rem;
    padding-right: 5rem;
  }
  #nav{
    justify-content: space-around;
    background-color: black;
    justify-content: center;
  }
  
  #nav1{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    margin: 0 2rem;

  }
  .button {
    background-color: #4CAF50;
    border: 1rem;
    color: black;
    padding: 40px 95px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: flow-root;
  }
  
  .buttonTest {
    background-color: black;
    color: white;
    border: 2px solid ;
  }
  
  .buttonTest:hover {background-color: #e7e7e7;}
  #final_img{
      height: 30rem;
      width: 50rem;
  }
